@charset "UTF-8";

/* Fonts */
@font-face {
    font-family: font1;
    src: url("../assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
}
@font-face {
    font-family: font2;
    src: url("../assets/fonts/DMSans-VariableFont_opsz,wght.ttf");
}

/* Variables */
:root {
    --roxa1: hsl(254, 88%, 90%);
    --roxa2: hsl(256, 67%, 59%);
    --ama1: hsl(31, 66%, 93%);
    --ama2: hsl(39, 100%, 71%);
    
    --font1: font1;
    --font2: font2;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(213, 211, 211);
}

main {
    width: 100%;
}

section {
    width: 80vw;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.367);
}

/* Social Section */
section.social {
    background-color: var(--roxa2);
    padding: 35px 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

section.social h3 {
    font-size: 3em;
    font-family: var(--font2);
    display: inline;
    line-height: 1em;
}

section.social h3.social1 {
    font-family: var(--font1);
}

strong.amarelo {
    color: var(--ama2);
}

section.social img {
    max-width: 70%;
    margin-top: 25px;
}

section.social p {
    font-size: 1.5em;
}

/* Message Section */
section.msg {
    background-color: white;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

section.msg img {
    max-width: 90%;
    margin: auto;
}

section.msg p {
    font-size: 1.5em;
    text-align: left;
    padding-left: 30px;
}

/* Message Yellow Section */
section.mes {
    background-color: var(--ama2);
    margin-top: 30px;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
}

section.mes p {
    font-size: 1.5em;
    width: 320px;
    margin: auto;
    padding-bottom: 10px;
}

section.mes img {
    max-width: 45%;
    margin-bottom: -25px;
}

/* Group Section */
section.gr {
    background-color: var(--roxa1);
    padding: 30px 10px;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
}

section.gr img {
    max-width: 80%;
    margin: auto;
}

section.gr h3 {
    font-size: 1.5em;
    padding-bottom: 15px;
}

section.gr p {
    font-size: 1.2em;
    max-width: 300px;
    margin: auto;
    padding-top: 8px;
}

/* Group 2 Section */
section.gr02 {
    background-color: var(--roxa2);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

section.gr02 img {
    width: 70%;
    padding-top: 20px;
}

section.gr02 p {
    font-size: 1.8em;
    color: white;
    padding: 15px;
    width: 220px;
    margin: auto;
}

/* Percentage Section */
section.porcen {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

section.porcen h2 {
    font-size: 2.5em;
    font-family: var(--font2);
}

section.porcen p {
    padding: 10px;
}

section.porcen img {
    width: 45%;
    margin: 10px;
}

/* Create Section */
section.create {
    background-color: var(--ama1);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

section.create p {
    font-size: 1.8em;
    font-family: var(--font2);
    line-height: 0.8;
    margin: 20px;
}

section.create img {
    width: 45%;
    display: block;
    transform: translateX(10%);
}

/* Strong purple text */
strong.roxo {
    color: var(--roxa2);
}

/* Content Section */
section.content {
    background-color: var(--ama2);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

section.content p {
    font-size: 1.8em;
    font-family: var(--font2);
    width: 300px;
    margin: auto;
    padding-top: 20px;
    transform: translateX(8%);
    line-height: 1em;
    text-align: center;
}

section.content img {
    width: 70%;
    padding: 20px;
}

/* Attribution */
div.atribu p {
    text-align: center;
    margin-top: 20px;
}
